@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
// colors:
$blueviolet: #5957b1;
$cornflower: #96bee3;
$linkwater: #cde2f5;
$gallery: #eeeeee;
$cherub: #f5ceea;
$pastelviolet: #c5bbde;
$pastelgreen: #c3edbf;
$pastelyellow: #f9efc7;
$pastelpink: #fbb9c5;

$main-font: 'Sprinkle', sans-serif;;
$font-large: clamp(2rem, 1.286rem + 1.905vw, 3rem);
$font-medium: clamp(1.5rem, 1.143rem + 0.952vw, 2rem);
$font-normal: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: $main-font;
  color: $gallery;
  height: 100vh;
}

h1 {
  font-size: $font-large;
  font-weight: bold;
}

game-intro {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.turn {
  padding-bottom: 1rem;
  font-size: $font-medium;
}

.tic-tac-toe {
  margin: 0.5rem auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.3rem;

  .game-board {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $gallery;
    padding: 0.8rem;

    .board-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .board-cell {
      width: clamp(4rem, 1.143rem + 7.619vw, 8rem);
      height: clamp(4rem, 1.143rem + 7.619vw, 8rem);
      border-radius: 0.5rem;
      margin: 5px;
      background-color: $blueviolet;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-large;
      font-weight: bold;
    }
  }
}

.end-modal {
  display: none;
}

.start-modal,
.end-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $linkwater;
  color: $blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: clamp(15rem, 4.286rem + 28.571vw, 30rem);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;

  h2 {
    font-size: $font-large;
    padding-bottom: 0.8rem;
    font-weight: 400;
  }

  button {
    font-family: $main-font;
    padding: 1rem;
    background: $pastelyellow;
    color: $blueviolet;
    font-size: $font-normal;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $pastelgreen;
    }
  }

  .result {
    font-size: $font-large;
    font-weight: bold;
    padding-bottom: 1rem;
  }
}

.history-buttons {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    padding: 1rem;
    background: $pastelyellow;
    color: $blueviolet;
    font-size: $font-normal;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;

    &:hover:enabled,
    &:hover{
      background-color: $cornflower;
    }

    &:disabled {
      cursor: not-allowed;
    }

    i {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
